div {
    background-color: indigo;
    width: 250px;
    border-radius: 5px;

}
p::first-letter {

    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}
p::first-line {
    background-color: orange;
    color: #000000;
    
}